.navbar {
  background-color: var(--qondri-black);
  padding: 1rem 2rem;
  box-shadow: 0 2px 10px rgba(var(--qondri-black-rgb), 0.1);
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: var(--qondri-white);
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s linear;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar-link {
  color: var(--qondri-white);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s linear;
}

.navbar-link:hover {
  color: var(--qondri-base);
}

.logo-text {
  color: var(--qondri-white);
}

.logo-accent {
  color: var(--qondri-base);
}

.navbar-link i {
  margin-right: 5px;
}
