/* Import Barlow font for Qondri design */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap');

:root {
  --qondri-font: "Barlow", sans-serif;
  --qondri-gray: #747f8e;
  --qondri-gray-rgb: 116, 127, 142;
  --qondri-white: #ffffff;
  --qondri-white-rgb: 255, 255, 255;
  --qondri-black: #183862;
  --qondri-black-rgb: 24, 56, 98;
  --qondri-base: #89b92e;
  --qondri-base-rgb: 137, 185, 46;
  --qondri-primary: #f2f5f8;
  --qondri-primary-rgb: 242, 245, 248;
  --qondri-bdr-color: #dee3e8;
  --qondri-bdr-color-rgb: 222, 227, 232;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--qondri-font);
  color: var(--qondri-gray);
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--qondri-gray);
  text-decoration: none;
  transition: all 0.3s linear;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--qondri-black);
  margin: 0;
  font-weight: 700;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}
